*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: azure;
}
 html,body{
    height: 100%;
    width: 100%;
 }
 main{
    height: 100%;
    width: 100%;
 }

nav{
 height: 20vh;
 width: 100vw;
}

 .top_nav{
 height: 7vh;
 width: 100vw;
 background-color: #33989C;
 display: flex;
 }
 .top_nav_left{
  height: 100%;
  width: 50%;
  /* background-color: blue; */
  display: flex;
  justify-content: start;
  align-items: center;
 }
 .top_nav_left a{
   position: absolute;
   left: 150px;
   font-size: 17px;
   text-decoration: none;
 }
.top_nav_right{
      height: 100%;
      width: 50%;
      /* background-color: darkblue; */
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 20px;
      padding-right: 120px;
 }
 .top_nav_right a{
   text-decoration: none;
 }
  .top_nav_right a .ri-whatsapp-line{
   font-size: 21px;
 }
 .top_nav_right a .ri-facebook-circle-fill{
   font-size: 27px;
   color: #000000;
 }
  .top_nav_right a .ri-instagram-line{
   font-size: 25px;
   color: rgb(255, 110, 7);
 }
  .top_nav_right a .ri-linkedin-box-fill{
   font-size: 25px;
   color: #090f12;
 }
  .top_nav_right a .ri-twitter-x-line{
   font-size: 25px;
   color: black;
 }
 .bottum_nav{
 height: 13vh;
 width: 100vw;
 background:#FFFFFF;
 /* background-color: red; */
 display: flex;
 }

 .bottum_nav_left{
height: 100%;
width: 50%;
display: flex;
align-items: center;
justify-content: start;
padding-left: 140px;
 }
 .bottum_nav_left img{
height: 60px;
width: 200px;
 }

  .bottum_nav_right{
   height: 100%;
   width: 50%;
   /* background-color: blue; */
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 38px;
   padding-right: 100px;
 }
  .bottum_nav_right h6{
   color: #000000;
    font-size: 15px;
    font-weight: 300;
  }



 .bottum_nav_right #booknow{
  color: #090f12;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 5px;
  border: none;
  background-color: chocolate;
 }
 #booknow .ri-arrow-right-line{
  color: black;
 }


 /* nav  css end here heder css start here */


.swiper {
  width: 100%;
  height: 100vh;
  /* border-radius: 15px; */
  overflow: hidden;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.swiper-slide {
display: flex;
justify-content: center;
align-items: center;
}

.swiper-slide {
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}


 .swiper-slider_1{
  background-image: url(./IMAGES/slider-mainbg-01.png);
 }
.swiper-slider_2{
  background-image: url(./IMAGES/slider-mainbg-02.png);
}
 .swiper-slider_3{
  background-image: url(./IMAGES/slider-mainbg-03.png);
  display: flex;
  flex-direction: column;
 }
 .swiper-slider_3_parts{
  position: relative;
 }
 #swiper-slider_3_parts-logo{
  height: 150px;
  width: 700px;
 }
.swiper-slider_3 .swiper-slider_3_parts img{
object-fit: contain;
object-position: center;
height: 100%;
width: 100%;

}
.swiper-slider_3 .swiper-slider_3_parts h1{
  font-family: cursive;
font-size: 45px;
padding-bottom: 10px;

}
.swiper-slider_3 .swiper-slider_3_parts h1::after{
  content: "";
  height: 2px;
  width: 80px;
  position: absolute;
  background-color: rgb(179, 66, 10);
  top: 35px;
}
.swiper-slider_3 .swiper-slider_3_parts h1::before{
  content: "";
  height: 2px;
  width: 80px;
  position: absolute;
  background-color: rgb(179, 66, 10);
  top: 35px;
  left: -80px;
}
.swiper-slider_3 .swiper-slider_3_parts button{
background-color: red;
color: white;
padding-left: 15px;
padding-right: 15px;
padding-top: 12px;
padding-bottom: 12px;
font-size: 16px;
border: none;
border-radius: 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


  /* heder css end  here */
